.light{
    background-color: aqua;
}

.btn {
    text-align: center;
    padding-top: 20px;
}
h1 {
    text-align: center;
    margin-top: 60px;
    

}

h2 {
    margin-left: auto;
}

.bmn {
    text-align: center;
    width: 100%;
    

}


.black {
    background-color: brown;
}

